certifi==2023.5.7
charset-normalizer==2.0.12
et-xmlfile==1.1.0
idna==3.4
numpy==1.19.5
openpyxl==3.1.2
pandas==1.1.5
pkg-resources==0.0.0
python-dateutil==2.8.2
pytz==2023.3
requests==2.27.1
six==1.16.0
tika==2.6.0
urllib3==1.26.16
